typescript
dist
root
build
*~
dtc/convert-dtsv0
dtc/convert-dtsv0-lexer.lex.c
dtc/dtc-lexer.lex.c
dtc/version_gen.h
build.log
initfs/uclinux/initramfs.txt
initfs/uclinux/src/init
initfs/uclinux/src/init.gdb
scripts/dejagnu/site.exp
moxie/rtl/verilog/a.out
moxie/rtl/verilog/asm.chg
moxie/rtl/verilog/bootrom.x
moxie/rtl/verilog/db/
moxie/rtl/verilog/dump.vcd
moxie/rtl/verilog/fit.chg
moxie/rtl/verilog/map.chg
moxie/rtl/verilog/muskoka.flow.rpt
moxie/rtl/verilog/muskoka.map.rpt
moxie/rtl/verilog/muskoka.map.smsg
moxie/rtl/verilog/muskoka.map.summary
moxie/rtl/verilog/muskoka.qpf
moxie/rtl/verilog/muskoka.qsf
moxie/rtl/verilog/smart.log
moxie/rtl/verilog/tan.chg
moxielyzer/moxielyzer
moxie/soc/muskoka/sim/a.out
moxie/soc/muskoka/sim/bootrom.vh
moxie/soc/muskoka/sim/bootrom.x
moxie/soc/muskoka/sim/dump.vcd
